@mixin transpbuttons {
  border: none;
  background: none;
  outline: none;
}

body {
  font-family: Helvetica;
  overflow-x: hidden;
  margin: 0;
}
div.topnavigationandsearch {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid lightgray;
  box-shadow: 0 0 10px -3px #694e4e82;
  position: sticky;
  top: 0px;
  z-index: 10;
  min-width: fit-content;
  background: white;

  div.searchboxcontainerdiv {
    display: none;
    justify-content: space-evenly;
  }
  button {
    @include transpbuttons();
    i.fas.fa-arrow-left {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
div.nonsearchboxcontainerdiv {
  display: flex;
  justify-content: space-between;
  //   width: fit-content;
  div.backbtnandtitle {
    display: flex;
    padding: 6px;
    font-size: 22px;
    color: gray;
    font-weight: 600;
    width: 167px;
    div.remindosettingstitlebox {
      display: flex;
      justify-content: space-between;
      margin-left: 5px;
    }
  }
  button.settingsshowsearchbtn {
    float: left;
  }
}
div.remindoaccountsettingsoptioncontainerdivbox {
  margin: 5px;
  padding: 5px;
  margin-top: 17px;
  div.rmdasoptcontdivboxChild {
    display: flex;
    margin: 5px;
    padding: 6px;
    border-radius: 6px;
    // cursor: pointer;
    &:hover {
      background: rgba(240, 235, 235, 0.897);
    }
    button {
      @include transpbuttons();
      i {
        font-size: 20px;
        font-weight: 300;
        color: black;
      }
    }
    h2.rmdasoptcontdivboxChildtitle {
      margin: 0;
      font-weight: 300;
      font-size: 23px;
      color: rgba(24, 23, 23, 0.877);
      letter-spacing: 1px;
    }
  }
  div.settingsswitchoptioncontainerdivbox {
    div.switchaccountsiconbox {
      display: flex;
      button.user122btn {
        margin-top: 14px;
        margin-left: -16px;
        transform: rotate(83deg);
      }
      i {
        font-size: 20px;
        font-weight: 300;
        color: black;
      }
      i.fas.fa-level-down-alt.user1touser2icon {
        // font-size: 10px;
        transform: rotatex(132deg);
        transform-style: preserve-3d;
      }
      i.fas.fa-user.user2 {
        margin-top: 11px;
        margin-left: -4px;
      }
    }
    h2.switchaccountstitle {
      margin-left: 6px;
    }
  }
}
div.settingspopupcontainerbox {
  display: none;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 10px -3px #694e4e82;
  z-index: 20;
  div.settingspopupheaderbox {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    h2.popupheadertitle {
      margin: 6px;
      padding: 0;
      /* margin-bottom: -28px; */
    }
    button.hidepopupbtn {
      border: none;
      border-radius: 100%;
      padding: 6px;
      width: 40px;
      height: 40px;
      font-size: 18px;
      font-weight: bolder;
      font-family: cursive;
      outline: none;
      float: right;
      &:focus {
        background: lightgray;
      }
    }
  }
  div.popupcontentcontainerbox {
    padding: 6px;
    font-size: 18px;

    div.userprofilecontainerbox {
      display: flex;
      height: 59px;
      min-width: 285px;
      border-radius: 6px;
      background: #e8f0fe;
      img.userprofileimg {
        // border: 2px solid gray;
        border-radius: 60%;
        margin: 2px 5px;
        height: 52px;
        width: 52px;
      }
      .userprofilenameandusername {
        padding: 5px;

        h2.profilename {
          padding: 0;
          margin: 0;
          font-size: 21px;
        }
        p.profileusrname {
          margin: 0;
          font-size: 16px;
          color: gray;
        }
      }
    }
    div.addaccountsbox {
      border-top: 1px solid #bfbbbb;
      text-align: center;
      margin-top: 16px;
      padding-top: 6px;
      button.addaccountbtn {
        padding: 6px;
        border: none;
        outline: none;
        border-radius: 6px;
        background: #e8f0fe;
        font-size: 18px;
        color: #1967d2;
        &:hover {
          background: #d2e3fc;
        }
      }
    }
  }
}
.childsmlbox {
  display: none;
  font-size: 23px;
  background: #edf3fa;
  border-radius: 0px 6px 6px 0px;
  margin-left: 24px;
  padding: 4px;
  border-left: 5px solid #a8caf3;

  .rmd2ndchlddvbx {
    display: flex;
    padding: 3px;
    margin: 0px 7px;
    border-radius: 6px;
    i {
      padding: 0;
      font-size: 18px;
    }
    &:hover {
      background-color: #ccdef7;
    }
    .switchandname {
      display: flex;
      justify-content: space-between;
      min-width: 270px;
    }
  }
  .rmd2ndchldttle {
    margin: 3px 0 0 5px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(24, 23, 23, 0.877);
    letter-spacing: 1px;
  }
}
label {
  font-size: 17px;
}
input {
  background: #f4f3f4;
  border: none;
  margin: 5px;
  padding: 10px;
  width: 230px;
  border-radius: 5px;
  font-size: 15px;
}
i.remindosymbols {
  font-size: 18px;
  color: #5d5353;
  font-weight: 900;
}

@media (min-width: 140px) and (max-width: 300px) {
  input {
    width: 140px;
  }
}
.snztimlst {
  list-style-type: none;
  padding: 5px;
  width: 250px;
  .radlist {
    width: 20px;
  }
  li {
    margin: 8px 0;
    label {
      cursor: pointer;
    }
  }
}
