.rmdchldbxstrecustmruidvbx {
  max-width: 706px;
  margin-top: 3px;
}

@media (max-width: 700px) {
  .rmdchldbxstrecustmruidvbx {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .rmdchldbxstrecustmruidvbx {
    margin: -2px;
  }
}

@media (max-width: 420px) {
  .strpghdrcntnrdvbx {
    display: none;
  }
}
@media (max-width: 620px) {
  .storecustmrpgbdy {
    overflow: hidden;
  }
}

.storenvcustmruicntrdvbx {
  margin: auto;
  max-width: 700px;
  height: 444px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 10px 10px;
}

.storenvcustmruicntrdvbx::-webkit-scrollbar {
  width: 0%;
}

.storenvcustmruicntrdvbx::-webkit-scrollbar-corner {
  width: 0;
  background-color: #00000000;
  border: none;
}

.storenvcustmruicntrdvbx::-webkit-scrollbar-track {
  width: 0;
  background-color: #00000000;
  border: none;
}

.storenvcustmruicntrdvbx::-webkit-scrollbar-thumb {
  width: 0;
  background-color: #00000000;
  border: none;
}

@media (max-width: 700px) {
  .storenvcustmruicntrdvbx {
    max-width: 700px;
  }
}

@media (max-width: 620px) {
  .storenvcustmruicntrdvbx {
    height: 100%;
  }
}

.storenvcustmruicntrdvbx .othstorspndandsgg {
  width: 300px;
}

@media (max-width: 700px) {
  .storenvcustmruicntrdvbx .othstorspndandsgg {
    max-width: 0;
    display: none;
  }
}

.storenvcustmruicntrdvbx .strebssnsprflpcsdvbx {
  height: 180px;
  overflow: hidden;
}

.storenvcustmruicntrdvbx .strebscvradmpsdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -70px;
}

.storenvcustmruicntrdvbx .strbsncvrprfpcbx {
  // width: 50%;
  width: 100%;
  overflow: hidden;
  background-color: lightgray;
  // border-right: 2px solid white;
  height: 136px;
}

.storenvcustmruicntrdvbx .strbsncvrprfpcbx img.strbsnsprfcvrpc {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.storenvcustmruicntrdvbx .strbsnmpsndvbx {
  // border-left: 2px solid white;
  // width: 50%;
  display: none;
  height: 137px;
  overflow: hidden;
}

.storenvcustmruicntrdvbx .strbsnmpsndvbx .strepysclgelctincntnrdvbx {
  background: lightgray;
  color: white;
  border-radius: 4px;
  padding: 3px;
  height: 128px;
  margin-bottom: -32px;
  text-align: center;
}

.storenvcustmruicntrdvbx .csmruiofstoreenvicntrdvbx {
  background: aliceblue;
  width: 100%;
}

.storenvcustmruicntrdvbx .csmruiofstoreenvicntrdvbx .strebsnsprfdtlscntrdvbox {
  overflow-y: auto;
  height: 444px;
  overflow-x: hidden;
  display: none;
}

@media (max-width: 280px) {
  .storenvcustmruicntrdvbx
    .csmruiofstoreenvicntrdvbx
    .strebsnsprfdtlscntrdvbox {
    height: 134vh;
  }
}

@media (min-width: 280px) and (max-width: 420px) {
  .storenvcustmruicntrdvbx
    .csmruiofstoreenvicntrdvbx
    .strebsnsprfdtlscntrdvbox {
    height: 100vh;
  }
}

@media (min-width: 420px) and (max-width: 620px) {
  .storenvcustmruicntrdvbx
    .csmruiofstoreenvicntrdvbx
    .strebsnsprfdtlscntrdvbox {
    height: 90vh;
  }
}

.storenvcustmruicntrdvbx
  .csmruiofstoreenvicntrdvbx
  .strebsnsprfdtlscntrdvbox::-webkit-scrollbar {
  width: 0%;
}

.storenvcustmruicntrdvbx
  .csmruiofstoreenvicntrdvbx
  .strebsnsprfdtlscntrdvbox::-webkit-scrollbar-corner {
  width: 0;
  background-color: #00000000;
  border: none;
}

.storenvcustmruicntrdvbx
  .csmruiofstoreenvicntrdvbx
  .strebsnsprfdtlscntrdvbox::-webkit-scrollbar-track {
  width: 0;
  background-color: #00000000;
  border: none;
}

.storenvcustmruicntrdvbx
  .csmruiofstoreenvicntrdvbx
  .strebsnsprfdtlscntrdvbox::-webkit-scrollbar-thumb {
  width: 0;
  background-color: #00000000;
  border: none;
}

.storenvcustmruicntrdvbx .strebsprfpcigcntrnrdvbx {
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-color: lightgray;
  border-radius: 50%;
  position: relative;
  margin: auto;
  border: 3px solid white;
  z-index: 1;
}

.storenvcustmruicntrdvbx .strebsprfpcigcntrnrdvbx img.strbsnsprfpc {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.strbsnothprfldtlscntnrdvbx {
  padding: 6px;
  margin-top: -11px;
}

@media (max-width: 400px) {
  .strbsnothprfldtlscntnrdvbx {
    margin-top: -34px;
  }
}

.strbsnothprfldtlscntnrdvbx .strrtngsdvcntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px 0 23px;
}

.strbsnothprfldtlscntnrdvbx .strrtngsdvcntnrdvbx .strertnginnumdvbx {
  font-size: 18px;
  font-weight: 700;
}

.strbsnothprfldtlscntnrdvbx .strrtngsdvcntnrdvbx .strertnginstrsdvbx {
  font-size: 21px;
  font-weight: 900;
  color: #dbcc0f;
  margin-top: -8px;
}

.strbsnothprfldtlscntnrdvbx .strttpnddvbx {
  margin: -9px 0 -9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.strbsnothprfldtlscntnrdvbx
  .strttpnddvbx
  i.fas.fa-thumbtack.remindosymbols.strspndcsmrssmbl {
  font-size: 23px;
  margin-top: 21px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.strbsnothprfldtlscntnrdvbx .strttpnddvbx .ttlcmrspndthestre {
  margin-left: 16px;
  font-size: 26px;
  font-weight: 600;
  color: slategray;
}

.strbsnothprfldtlscntnrdvbx .strqrupipmtavblcntnrdvbx {
  padding: 6px;
  border: 1px solid gainsboro;
  background: #a5defa3d;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 13px -8px #584646e8;
  box-shadow: 0 0 13px -8px #584646e8;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.strbsnothprfldtlscntnrdvbx .strprsntcncnstscntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 3px;
}

.strbsnothprfldtlscntnrdvbx .strprsntcncnstscntnrdvbx .strprsntopnorclsstsdvbx {
  font-weight: 600;
}

.strstsdvbxopn {
  color: #55c255;
}
.strstsdvbxcls {
  color: red;
}
.strstsdvbxrcvngords {
  color: #55c255;
}
.strstsnonrcvngordsdvbx {
  color: red;
}

.strbsnothprfldtlscntnrdvbx .strebsnstxtdtlscntrdvbx {
  padding: 8px;
}

.strbsnothprfldtlscntnrdvbx .strebsnstxtdtlscntrdvbx .streprflmblnmdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strbsnothprfldtlscntnrdvbx .strebsnstxtdtlscntrdvbx .strcasoptnstscntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

.strbsnothprfldtlscntnrdvbx
  .strebsnstxtdtlscntrdvbx
  .strcasoptnstscntnrdvbx
  .strcshavbltstsdvbx {
  margin-left: 6px;
  color: green;
}

.strbsnothprfldtlscntnrdvbx .strephcladrescntnrdvbx .strdsplyadrsdvasbtn {
  cursor: pointer;
}

.strbsnothprfldtlscntnrdvbx .strephcladrescntnrdvbx .stradrsbdydvbx {
  display: none;
  margin-left: 11px;
  background: white;
  padding: 5px;
  border-radius: 0 5px 5px 5px;
  border-left: 4px solid green;
}

.strbsnothprfldtlscntnrdvbx .strecstmrprvcstngsdvbx .strdsplypvtdvasbtn {
  cursor: pointer;
}

.strbsnothprfldtlscntnrdvbx .strecstmrprvcstngsdvbx .strpvtcntrbdydvbx {
  display: none;
  margin-left: 11px;
  background: white;
  padding: 5px;
  border-radius: 0 5px 5px 5px;
  border-left: 4px solid green;
}

.strbsnothprfldtlscntnrdvbx
  .strecstmrprvcstngsdvbx
  .strpvtcntrbdydvbx
  .usrcstmrntfcnsbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strbsnothprfldtlscntnrdvbx
  .strecstmrprvcstngsdvbx
  .strpvtcntrbdydvbx
  .usrcstmrntfcnsbtn
  .tglbtn {
  margin: 10px 0 0 10px;
}

.strbsnothprfldtlscntnrdvbx
  .strecstmrprvcstngsdvbx
  .strpvtcntrbdydvbx
  .usrcstmrunpnshpbtn {
  cursor: pointer;
}

.strbsnothprfldtlscntnrdvbx
  .strecstmrprvcstngsdvbx
  .strpvtcntrbdydvbx
  .usrcstmrunpnshpbtn
  .unpnthestricn {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.strbsnothprfldtlscntnrdvbx .streprflavablpmtgtwsdvbx .streprflonlpmtsdvbx {
  margin-left: 10px;
  border-left: 4px solid green;
  border-radius: 0 0 0 5px;
}

.strbsnothprfldtlscntnrdvbx .bcktostreordruidvbx {
  position: absolute;
  float: right;
  cursor: pointer;
  margin-top: -192px;
  margin-left: 437px;
}

@media (max-width: 620px) {
  .strbsnothprfldtlscntnrdvbx .bcktostreordruidvbx {
    bottom: 14px;
    right: 14px;
  }
}

@media (min-width: 620px) and (max-width: 700px) {
  .strbsnothprfldtlscntnrdvbx .bcktostreordruidvbx {
    margin-top: -189px;
    margin-left: 645px;
  }
}

.strbsnothprfldtlscntnrdvbx
  .bcktostreordruidvbx
  .bckbtntogstrbtn
  .fas.fa-arrow-up {
  color: #ffffff;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 19px -6px #7a96ae;
  box-shadow: 0px 0px 19px -6px #7a96ae;
  background: #e3eaf1bf;
  font-size: 23px;
}

.strepgstordscntnrdivbox .strpghdrstredtlscntnrdvbx {
  height: 100px;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: unset;
}

.strepgstordscntnrdivbox .strpghdrstredtlscntnrdvbx .strpgtphdrcntnrdvbx {
  overflow: hidden;
  height: 67px;
  background-size: cover;
  background-color: #383535ca;
  border-radius: 5px;
}

.strepgstordscntnrdivbox
  .strpghdrstredtlscntnrdvbx
  .strpgtphdrcntnrdvbx
  .strpgtphdrcntbckgndblkdvbx {
  background-color: #00000099;
  height: 100%;
}

.strepgstordscntnrdivbox
  .strpghdrstredtlscntnrdvbx
  .strpgtphdrcntnrdvbx
  .strpgtphdrcntbckgndblkdvbx
  .shpsdtlsbtncntnrdvbx {
  text-align: center;
  height: 7px;
  padding: 5px 0 0 0;
}

.strepgstordscntnrdivbox
  .strpghdrstredtlscntnrdvbx
  .strpgtphdrcntnrdvbx
  .strpgtphdrcntbckgndblkdvbx
  .shpsdtlsbtncntnrdvbx
  .shwstrdtlsbtn {
  width: 183px;
  cursor: pointer;
  background: #807d7d;
  height: 4px;
  margin: auto;
  border-radius: 22px;
}

.strepgstordscntnrdivbox .strpghdrstredtlscntnrdvbx .strpgbtmhdrcntnrdvbx {
  background: #f1e7e7;
  padding: 5px;
  border-radius: 0 0 6px 6px;
}
.strodrspdsdsplybdymandvbx {
  display: flex;
  justify-content: space-between;
}
.stralpdtsdsplydvbxctnrdvbx {
  background: white;
  overflow-y: auto;
  width: 100%;
  height: 330px;
}
.srchalpdtspwrdsrchbtn {
  padding: 8px;
  background: #e3e3e3;
  border-radius: 68px;
  height: 15px;
  margin: 7px 6px;
  width: 15px;
  text-align: center;
  cursor: pointer;
  i.fas.fa-search.remindosymbols {
    padding: 0px;
    font-size: 16px;
  }
}
.srchbxto-srch-alpdts-inshp {
  display: flex;
  background: #f4f3f4;
  border-radius: 20px;
  .srchalpdtsinstrmandsplyiptsrch {
    margin-top: 12px;
    margin-left: -5px;
    height: 4px;
  }
}
.stralpdtsplcetphdr {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
}
.stralpdtsdsplydvbxctnrdvbx {
  display: none;
  height: 339px;
  overflow-y: auto;
  @media (max-width: 620px) {
    height: 82vh;
  }
}
.strepgstordscntnrdivbox
  .strpghdrstredtlscntnrdvbx
  .strpgbtmhdrcntnrdvbx
  .strnwordrbtncntnrdvbx {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.strepgstordscntnrdivbox
  .strpghdrstredtlscntnrdvbx
  .strpgbtmhdrcntnrdvbx
  .strnwordrbtncntnrdvbx
  i.fas.fa-plus.remindosymbols {
  font-size: 15px;
}

.strepgstordscntnrdivbox .strpgftrtoshwppupsdvbx {
  margin-top: -69px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 310px;
  display: none;
}

@media (max-width: 620px) {
  .strepgstordscntnrdivbox .strpgftrtoshwppupsdvbx {
    margin: 0;
    bottom: 0;
  }
}

.strepgstordscntnrdivbox .optnsfraprticlurodrofstrecntnrdvbx {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.strepgstordscntnrdivbox .optnsfraprticlurodrofstrecntnrdvbx .optnsdvbxlsdvbx {
  width: 70px;
  background: linear-gradient(244deg, white, transparent);
  -webkit-transform: rotate(123deg);
  transform: rotate(123deg);
  background: white;
  margin: 23px 0 -42px 60px;
  border-radius: 0 0 0 3px;
  z-index: 1;
  -webkit-box-shadow: 0px -2px 5px -4px black;
  box-shadow: 0px -2px 5px -4px black;
}

.strepgstordscntnrdivbox
  .optnsfraprticlurodrofstrecntnrdvbx
  .optnscntngbxandmdlbx {
  width: 161px;
  background: white;
  z-index: 1;
  margin: 11px -107px 0px -52px;
  height: 47px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border-radius: 7px 7px 0 0;
  -webkit-box-shadow: 0px -2px 4px -4px black;
  box-shadow: 0px -2px 4px -4px black;
  text-align: center;
  padding: 4px;
  padding-bottom: 0;
}

.strepgstordscntnrdivbox
  .optnsfraprticlurodrofstrecntnrdvbx
  .optnscntngbxandmdlbx
  i.fas.fa-trash.remindosymbols {
  border-radius: 31px;
  /* border: 1px solid; */
  -webkit-box-shadow: 0 0 6px -2px #ab8f8f;
  box-shadow: 0 0 6px -2px #ab8f8f;
  cursor: pointer;
}

.strepgstordscntnrdivbox
  .optnsfraprticlurodrofstrecntnrdvbx
  .optnscntngbxandmdlbx
  i.fas.fa-times.remindosymbols {
  border-radius: 31px;
  padding: 5px 7px;
  -webkit-box-shadow: 0 0 6px -2px #ab8f8f;
  box-shadow: 0 0 6px -2px #ab8f8f;
  cursor: pointer;
}

.strepgstordscntnrdivbox
  .optnsfraprticlurodrofstrecntnrdvbx
  .optnscntngbxandmdlbx
  .dltbtntxtdvbx {
  font-size: 11px;
}

.strepgstordscntnrdivbox
  .optnsfraprticlurodrofstrecntnrdvbx
  .optnscntngbxandmdlbx
  .rmvbtntxtdvbx {
  font-size: 11px;
}

.strepgstordscntnrdivbox
  .optnsfraprticlurodrofstrecntnrdvbx
  .optnsdvbxrghtdvbx {
  width: 62px;
  background: linear-gradient(244deg, white, transparent);
  -webkit-transform: rotate(154deg);
  transform: rotate(154deg);
  background: white;
  margin: 21px 0 -20px 59px;
  border-radius: 0 0 0 6px;
  -webkit-box-shadow: 0px -2px 5px -4px black;
  box-shadow: 0px -2px 5px -4px black;
}

.strpghdrstrprfdtlscntrdvbx {
  height: 57px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strpghdrstrprfdtlscntrdvbx .bcktopndstrspgbtndvbx {
  padding: 6px;
}

.strpghdrstrprfdtlscntrdvbx
  .bcktopndstrspgbtndvbx
  i.fas.fa-arrow-left.remindosymbols {
  color: white;
  cursor: pointer;
}

.strpghdrstrprfdtlscntrdvbx .vmpstrprfbsndtlscntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.strpghdrstrprfdtlscntrdvbx .vmpstrprfbsndtlscntnrdvbx .strbsnprfpiccntnrdvbox {
  width: 45px;
  overflow: hidden;
  height: 45px;
  background-color: lightgray;
  border: 2px solid white;
  border-radius: 100px;
}

.strpghdrstrprfdtlscntrdvbx
  .vmpstrprfbsndtlscntnrdvbx
  .strbsnprfpiccntnrdvbox
  img.strbsnprfpicimg {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  -o-object-fit: cover;
  object-fit: cover;
}

.strpghdrstrprfdtlscntrdvbx
  .vmpstrprfbsndtlscntnrdvbx
  .strbnnmatmtstrstscntnrdvbx {
  margin-left: 6px;
  color: whitesmoke;
}

.strpghdrstrprfdtlscntrdvbx
  .vmpstrprfbsndtlscntnrdvbx
  .strbnnmatmtstrstscntnrdvbx
  .stratmentioncntnrdvbx {
  font-size: 14px;
  margin-top: 2px;
  color: gainsboro;
}

.strpghdrstrprfdtlscntrdvbx
  .vmpstrprfbsndtlscntnrdvbx
  .strbnnmatmtstrstscntnrdvbx
  .stratmentioncntnrdvbx
  i.fas.fa-at.remindosymbols {
  color: gainsboro;
  font-size: 10px;
  font-weight: 500;
  padding: 0;
}

.strpghdrstrprfdtlscntrdvbx
  .vmpstrprfbsndtlscntnrdvbx
  .strbnnmatmtstrstscntnrdvbx
  .stropnandrcvngstscntnrdvbx {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.strpgmdbdyofodrlstscntnrdvbx {
  height: 339px;
  padding: 6px 8px;
  overflow-y: auto;
}

@media (max-width: 620px) {
  .strpgmdbdyofodrlstscntnrdvbx {
    height: 82vh;
  }
}

.strpgmdbdyofodrlstscntnrdvbx::-webkit-scrollbar {
  width: 0%;
}

.strpgmdbdyofodrlstscntnrdvbx::-webkit-scrollbar-corner {
  width: 0;
  background-color: #00000000;
  border: none;
}

.strpgmdbdyofodrlstscntnrdvbx::-webkit-scrollbar-track {
  width: 0;
  background-color: #00000000;
  border: none;
}

.strpgmdbdyofodrlstscntnrdvbx::-webkit-scrollbar-thumb {
  width: 0;
  background-color: #00000000;
  border: none;
}

.strpgmdbdyofodrlstscntnrdvbx .odrdlsttostrcntnrdvbx {
  margin-top: 6px;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox {
  width: 294px;
  padding: 5px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0px 9px -6px #987b7b;
  box-shadow: 0 0px 9px -6px #987b7b;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlsthdrcntnrdvbx {
  height: 43px;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlsthdrcntnrdvbx
  .odrdtmeothoptnstphdrcntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1px 3px;
  height: 20px;
  cursor: context-menu;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlsthdrcntnrdvbx
  .odrdtmeothoptnstphdrcntnrdvbx
  .odrddtmecntnrdvbx {
  font-size: 12px;
  padding: 3px;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlsthdrcntnrdvbx
  .mroptsdvbxbtn
  i.fas.fa-ellipsis-h {
  font-weight: 400;
  padding: 0;
  font-size: 23px;
  cursor: pointer;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .noitmsinlstbtmhrctnrdvbx {
  padding: 0 6px;
  font-size: 14px;
  cursor: context-menu;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .lstditmsinodrlstcntnrdvbx {
  margin-bottom: 6px;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .odrsadngnwitmtolscntngdvbx
  .nwitmsiptandiptsgnscntnrdvbx {
  display: none;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .odrsadngnwitmtolscntngdvbx
  .nwitmsiptandiptsgnscntnrdvbx
  .itmsiptdvbxctnr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #f4f3f4;
  margin: 3px 0;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .odrsadngnwitmtolscntngdvbx
  .nwitmsiptandiptsgnscntnrdvbx
  .itmsiptdvbxctnr
  .srchiptfritmstoadtolst {
  height: 10px;
  width: 190px;
  padding: 7px;
  outline: none;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .odrsadngnwitmtolscntngdvbx
  .nwitmsiptandiptsgnscntnrdvbx
  .itmsiptdvbxctnr
  i.fas.fa-times.remindosymbols {
  padding: 7px 7px 7px 0px;
  cursor: pointer;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .odrsadngnwitmtolscntngdvbx
  .nwitmsiptandiptsgnscntnrdvbx
  .itmsiptdvbxctnr
  i.fas.fa-arrow-left.remindosymbols {
  padding: 7px 0px 7px 6px;
  cursor: pointer;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .odrsadngnwitmtolscntngdvbx
  .adnwitmbtn {
  text-align: center;
  background: antiquewhite;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .odrsadngnwitmtolscntngdvbx
  .adnwitmbtn
  i.fas.fa-plus.remindosymbols {
  font-size: 14px;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstbdycntnrdvbx
  .ttlamtofalllsttopycntnrdvbx {
  text-align: center;
  padding: 5px;
  cursor: context-menu;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 20px;
}

.strpgmdbdyofodrlstscntnrdvbx
  .odrdlsttostrcntnrdvbx
  article.ordrdlstartletgcntnrdvbox
  .relordlstdvbx
  .ordrlstftrcntnrdvbox
  .sdordrtostrbtn {
  padding: 4px;
  border-radius: 0 0 5px 5px;
  background: #d2e3fc;
  text-align: center;
  color: #1967d2;
  cursor: pointer;
}

.odrditmartclcntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 3px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  height: fit-content;
  border-radius: 5px;
  padding: 5px;
  background: #f8f5f5a8;
  -webkit-box-shadow: 0 0 2px 0px #a79191;
  box-shadow: 0 0 2px 0px #a79191;
}

.odrditmartclcntnrdvbx .ordditmimgcntngdvbx {
  overflow: hidden;
  width: 48px;
  height: 43px;
  border-radius: 5px;
  border: 2px solid wheat;
}

.odrditmartclcntnrdvbx .ordditmimgcntngdvbx img.strcntngitmimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.odrditmartclcntnrdvbx .strcntngordritmdtlscntngdvbx {
  padding: 5px;
  border-radius: 3px;
  margin-right: auto;
}

.odrditmartclcntnrdvbx .strcntngordritmdtlscntngdvbx .cmrsdsrditmnmcntnrdvbx {
  font-size: 12px;
  font-weight: 600;
  max-width: 156px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  display: -webkit-box;
  cursor: context-menu;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 2.3em;
  text-overflow: -o-ellipsis-lastline;
}

.odrditmartclcntnrdvbx
  .strcntngordritmdtlscntngdvbx
  .cmrdsrditmothdtlscntngdvbx {
  height: fit-content;
  overflow: hidden;
  cursor: context-menu;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.odrditmartclcntnrdvbx .odrngitmsqntyandprccntngdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  i.fas.fa-times.remindosymbols.rmvitmfrmlsttmsicn {
  padding: 2px 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .odrditmqntyicordcandiptctnrdvbx {
  width: 17px;
  height: 43px;
  border-radius: 5px;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .odrditmqntyicordcandiptctnrdvbx
  .icodrditmqtydvbtn {
  background: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 15px;
  height: 13px;
  line-height: 9px;
  border-radius: 20px 20px 0px 0px;
  -webkit-box-shadow: 0 0 3px -1px #af9a9a;
  box-shadow: 0 0 3px -1px #af9a9a;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .odrditmqntyicordcandiptctnrdvbx
  .icodrditmqtydvbtn
  i.fas.fa-plus.remindosymbols {
  font-size: 7px;
  cursor: pointer;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .odrditmqntyicordcandiptctnrdvbx
  .odrditmnumquntyiptbx {
  width: 14px;
  border: 1px solid lightgray;
  padding: 2px 0;
  font-size: 12px;
  text-align: center;
  outline: none;
  border-radius: 0;
  margin: 2px 0;
  -moz-appearance: textfield;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .odrditmqntyicordcandiptctnrdvbx
  .odrditmnumquntyiptbx::-webkit-outer-spin-button,
.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .odrditmqntyicordcandiptctnrdvbx
  .odrditmnumquntyiptbx::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .odrditmqntyicordcandiptctnrdvbx
  .decodrditmqtydvbtn {
  background: white;
  height: 13px;
  line-height: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: visible;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 0 3px -1px #af9a9a;
  box-shadow: 0 0 3px -1px #af9a9a;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .odrditmqntyicordcandiptctnrdvbx
  .decodrditmqtydvbtn
  i.fas.fa-minus.remindosymbols {
  font-size: 7px;
  cursor: pointer;
}

.odrditmartclcntnrdvbx
  .odrngitmsqntyandprccntngdvbx
  .ordrditmsprceandcrncycntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-top: 4px;
  font-size: 18px;
  cursor: context-menu;
}

.shprdtsinstrcstmrsspg {
  cursor: pointer;
}

.shprdtsinstrcstmrsspg div,
.shprdtsinstrcstmrsspg p,
.shprdtsinstrcstmrsspg input {
  cursor: pointer;
}

p.pdtotofstkstsptg {
  position: relative;
  top: 22px;
  left: 66px;
  font-weight: 600;
  color: red;
  margin: -2px 0 -22px 0;
}

.hdqtyincdcaditvldvbx {
  display: none;
}

.shngotstkprdts {
  background: #ff4949b0;
  opacity: 0.6;
  color: #ffffffa3;
}

.sntrmrodraspndng {
  text-align: center;
  background: #0788078a;
  color: #054905;
  padding: 3px;
  border-radius: 0 0 4px 4px;
}

.sntrmrodraspndng i.fas.fa-clock,
.sntrmrodraspndng i.fas.fa-box {
  font-size: 15px;
  padding: 3px;
  font-weight: 500;
}

.strscmstrsprflimgcntnrdvbx {
  overflow: hidden;
  width: 34px;
  height: 34px;
  border-radius: 100px;
  border: 2px solid #e4cece;
}

.strscmstrsprflimgcntnrdvbx img.stescstmrsprflimgonevryodr {
  height: 34px;
  width: 34px;
  -o-object-fit: cover;
  object-fit: cover;
}

.stronrpgtphdr {
  position: fixed;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6d5d5d61),
    to(transparent)
  );
  background: linear-gradient(180deg, #6d5d5d61, transparent);
  width: 489px;
  height: 34px;
}

@media (min-width: 600px) and (max-width: 700px) {
  .stronrpgtphdr {
    width: 598px;
  }
}

.stronrpgtphdr .strifoandothrbtnsdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stronrpgtphdr .strinfottldvbx {
  color: white;
  font-size: 20px;
  padding: 5px;
}

.stronrpgtphdr .strprdtspgnvgtrbtndvbx {
  background: #1e88e5;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  cursor: pointer;
  margin: 7px 16px 0px 0;
  -webkit-box-shadow: 0 0 11px -3px #3475cf;
  box-shadow: 0 0 11px -3px #3475cf;
}

.strsbsnprfledtbtndvbx {
  margin-top: 6px;
}

.strsbsnprfledtbtndvbx .strsopnrcvngstsdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.strsbsnprfledtbtndvbx .stsstschng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strsbsnprfledtbtndvbx .stsstschng .toggleswitch.tglbtn {
  margin: 3px 0 0 8px;
}

.strsbsnprfledtbtndvbx .strsedtprfdtlsbtn {
  float: right;
}

.strsbsnprfledtbtndvbx .strsedtprfdtlsbtn i.fas.fa-pen.remindosymbols {
  color: #9ec5ff;
  cursor: pointer;
}

.pndcstmrsnvgtnbtndvbx {
  padding: 4px 0;
  cursor: pointer;
}

.stronrchckbxandprcngadnqntydtlscntngdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.stronrchckbxandprcngadnqntydtlscntngdvbx .chckbxbtncntnrdvbx {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 46px;
}

.stronrchckbxandprcngadnqntydtlscntngdvbx
  .chckbxbtncntnrdvbx
  input.chckbxtochcktheitmthatpackd {
  width: 17px;
  cursor: pointer;
}

.stronrpgitmsqntyctnrdvbx {
  font-size: 12px;
  border: 1px solid lightgray;
  padding: 0px 3px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.strownrpgodrngitmsqntyandprccntngdvbx
  .strownrpgordrditmsprceandcrncycntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 17px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.stronrbdyctnrdvbx {
  height: 306px;
  padding: 6px 8px;
  overflow-y: auto;
}

@media (max-width: 420px) {
  .stronrbdyctnrdvbx {
    height: 79vh;
  }
}

@media (min-width: 420px) and (max-width: 620px) {
  .stronrbdyctnrdvbx {
    height: 57vh;
  }
}

.strownrpghdrstredtlscntnrdvbx {
  height: 84px;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: unset;
}

.strownrpghdrstredtlscntnrdvbx .strownrpgtphdrcntnrdvbx {
  overflow: hidden;
  background-size: cover;
  background: #03b199;
  border-radius: 0 0 5px 5px;
}

.strownrpghdrstredtlscntnrdvbx .strownrpgtphdrcntbckgndblkdvbx {
  height: 100%;
}

.strownrpghdrstredtlscntnrdvbx .strpghdrstrprfdtlscntrdvbx {
  background-color: #03b199;
  border-radius: 0 0 5px 5px;
  padding: 6px;
}

.strownrpghdrstredtlscntnrdvbx .strownrsdtlsbtncntnrdvbx {
  height: 12px;
  border-bottom: 1px solid #16986e;
  background: #10a691d9;
  font-size: 13px;
  padding: 6px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.strownrpghdrstredtlscntnrdvbx .strpghdrstrprfdtlscntrdvbx {
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #03b199;
  border-radius: 0 0 5px 5px;
  padding: 6px;
}

.strownrpghdrstredtlscntnrdvbx
  .strpghdrstrprfdtlscntrdvbx
  .strbsnprfpiccntnrdvbox {
  background-color: lightgray;
  width: 36px;
  overflow: hidden;
  height: 36px;
  border: 2px solid white;
  border-radius: 100px;
}

.strownrpghdrstredtlscntnrdvbx .streownrsprfldtlspgbtn {
  float: right;
  height: 0px;
  margin-top: -16px;
  margin-right: 21px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  background: #03b199;
  padding: 1px;
  text-align: center;
  -webkit-box-shadow: 0 0 9px -2px #144c3ed9;
  box-shadow: 0 0 9px -2px #144c3ed9;
}

.strownrpghdrstredtlscntnrdvbx
  .streownrsprfldtlspgbtn
  i.fas.fa-store.remindosymbols {
  color: white;
  line-height: 24px;
  font-size: 20px;
}

.strebssnsprflpcsdvbx .streownredtacntpicsbtn {
  position: relative;
  z-index: 2;
  background: white;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px -3px #695656;
  box-shadow: 0 0 5px -3px #695656;
}

.strebssnsprflpcsdvbx .strbsncvrpicdsplybx {
  height: 136px;
  margin-bottom: -36px;
}

.strebssnsprflpcsdvbx .streownrpgupdtstrscvrpicbtn {
  margin-top: 0px;
  margin-left: 160px;
}

@media (min-width: 600px) and (max-width: 700px) {
  .strebssnsprflpcsdvbx .streownrpgupdtstrscvrpicbtn {
    margin-left: 204px;
  }
}

@media (min-width: 400px) and (max-width: 490px) {
  .strebssnsprflpcsdvbx .streownrpgupdtstrscvrpicbtn {
    margin-left: 113px;
  }
}

@media (max-width: 400px) {
  .strebssnsprflpcsdvbx .streownrpgupdtstrscvrpicbtn {
    margin-left: 80px;
  }
}

.strebssnsprflpcsdvbx .strebsprfpcigcntrnrdvbx {
  overflow: visible;
}

.strebssnsprflpcsdvbx .strebsprfpcigcntrnrdvbx img.strbsnsprfpc {
  border-radius: 100px;
}

.strebssnsprflpcsdvbx .streownrpgupdtstrsprflpicbtn {
  margin-top: -38px;
  margin-left: 270px;
}

@media (min-width: 600px) and (max-width: 700px) {
  .strebssnsprflpcsdvbx .streownrpgupdtstrsprflpicbtn {
    margin-left: 325px;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .strebssnsprflpcsdvbx .streownrpgupdtstrsprflpicbtn {
    margin-left: 287px;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .strebssnsprflpcsdvbx .streownrpgupdtstrsprflpicbtn {
    margin-left: 236px;
  }
}

@media (min-width: 340px) and (max-width: 400px) {
  .strebssnsprflpcsdvbx .streownrpgupdtstrsprflpicbtn {
    margin-left: 210px;
  }
}

@media (max-width: 340px) {
  .strebssnsprflpcsdvbx .streownrpgupdtstrsprflpicbtn {
    margin-left: 184px;
  }
}

.strebssnsprflpcsdvbx .streownrpgupdtstrsphsllocbtn {
  margin-top: -6px;
  margin-left: 53px;
}

.strordrmtnrngdvbx {
  background: white;
  /* border-radius: 3px; */
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-shadow: 0 0 7px -6px #806c6c;
  box-shadow: 0 0 7px -6px #806c6c;
}

.strordrmtnrngdvbx .mtrngnmofitmslftinanordr {
  padding: 5px;
  font-size: 17px;
  cursor: context-menu;
}

.strordrmtnrngdvbx .mtrngnmalldnbtnifallitmsarpckddvbx {
  background: #4cef6f;
  color: #fefffe;
  border-radius: 4px;
  border: 1px solid #b1ef82;
  padding: 4px 6px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 9px -4px #0a930a;
  box-shadow: 0 0 9px -4px #0a930a;
}

.bsnstrstupdvbbxx {
  overflow: hidden;
}

.strstupelmtscntngcntnrdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.strstupelmtscntngcntnrdvbx::-webkit-scrollbar {
  width: 0%;
}

.strstupelmtscntngcntnrdvbx::-webkit-scrollbar-corner {
  width: 0;
  background-color: #00000000;
  border: none;
}

.strstupelmtscntngcntnrdvbx::-webkit-scrollbar-track {
  width: 0;
  background-color: #00000000;
  border: none;
}

.strstupelmtscntngcntnrdvbx::-webkit-scrollbar-thumb {
  width: 0;
  background-color: #00000000;
  border: none;
}

.stuperrstsdvbx {
  font-size: 14px;
  color: #e87e91;
  text-align: center;
  overflow-wrap: break-word;
  letter-spacing: 0.5px;
}

.stupusnmnotebx {
  font-size: 11px;
  width: 320px;
  margin-left: 10px;
  color: gray;
}

.stpiptttlbx {
  margin: 11px;
  margin-bottom: 5px;
}

.strecatgreselct {
  margin: 7px;
  width: 90%;
  background: white;
  border: 1px solid darkgray;
}

.stuppgntndvbx {
  padding: 5px;
  border-radius: 4px;
  height: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stuppgntndvbx .stupgnntn {
  border-radius: 100px;
  width: 32px;
  margin-left: 5px;
  background: lightgray;
}

input.stupipts {
  width: 90%;
  outline: none;
}

.stupnxtbtn {
  border-radius: 6px;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  background: #1771e6e0;
  cursor: pointer;
  margin: 5px;
}

.stupnxtbtn .stpnxtbtntxt {
  margin-left: 8px;
}

.stupnxtbtn i.fas.fa-chevron-right.remindosymbols {
  color: white;
  font-size: 16px;
  padding: 0;
}

.bsnacntstupnunemlcntngbx,
.bsnacntstupmladscntngbx,
.bsnacntstuplcncntngbx,
.bsnacntstupupipccntngbx,
.bsnacntstcvrpflscntngbx,
.bsnactstupsscflyscntngbx {
  display: none;
}
.bsnactstupsscflyscntngbx {
  min-width: 300px;
}
.bsnacntstupnunemlcntngbx {
  display: block;
}

textarea.stupits.streadrsipt {
  width: 90%;
  height: 50px;
  margin-left: 9px;
  padding: 5px;
  outline: none;
  font-family: sans-serif;
  border-radius: 5px;
}

.strstupadupibtn {
  background: #3382e9;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  width: 150px;
  margin: auto;
  cursor: pointer;
}

.strstupimgdsplydvbx {
  background: lightgray;
  height: 226px;
  width: 90%;
  border-radius: 4px;
  margin: auto;
  overflow: hidden;
}

.strstupimgdsplydvbx img.stupstrbsnsqrpc {
  width: 100%;
  height: 100%;
}

.strsstupcvrdsplybx {
  background: lightgray;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
  width: 330px;
}

.strsstupcvrdsplybx img.stupstrbsnscvrpc {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: center;
  object-position: center;
}

.strsstupprfldsplybx {
  background: lightgray;
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 100px;
  overflow: hidden;
}

.strsstupprfldsplybx img.stupstrbsnsprfpc {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.stppgptoimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.stradstrspcsbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  cursor: pointer;
}

.strstupadcvrprfbtn {
  color: white;
  background: #3382e9;
  padding: 8px;
  font-size: 13px;
  border-radius: 6px;
}

.stredtelmtscntngcntnrdvbx {
  padding: 10px;
}

@media (min-width: 620px) {
  .stredtelmtscntngcntnrdvbx {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .stredtelmtscntngcntnrdvbx {
    overflow-y: auto;
  }
}

.stravblupqrsndsplyctnrdvbx {
  width: 300px;
  height: 330px;
  background: lightgray;
  border-radius: 6px;
  margin-bottom: 16px;
  overflow: hidden;
}

.stravblupqrsndsplyctnrdvbx .srupqrig {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.stredtqrscnbtnsctngdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 14px;
}

.strathmbnldtlscntngdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 1px solid lightgray;
  margin: 6px 0;
}

.strpcsodothrdtlsctngdvbx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strprfdtlsctngctnrdvbx {
  margin-left: 8px;
}

.strprfpcctngdvbx {
  height: 50px;
  width: 50px;
  overflow: hidden;
  background-color: lightgray;
  border-radius: 100%;
}

.strprfpcctngdvbx img.rmdusrprofilepic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.strprfnmcntngdvbx {
  cursor: pointer;
  max-width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
}

.strprfnmcntngdvbx:hover {
  text-decoration: underline;
}

.strprfusnmatmntctngdvbx {
  font-size: 15px;
  color: gray;
  text-overflow: ellipsis;
}

.strprfusnmatmntctngdvbx i.fas.fa-at {
  font-size: 12px;
  padding: 0;
}

.strpnunpnspnbtndvbx .pnstrbtndvbx i.fas.fa-thumbtack {
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.strpnunpnspnbtndvbx .pnstrbtndvbx i.fas.fa-thumbtack:hover {
  font-size: 20px;
}

.stupastreinstrspgbtndvbx {
  padding: 8px;
  color: white;
  background-color: #f4511e;
  margin: 9px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  -webkit-box-shadow: 0 0 14px -7px #6a5454;
  box-shadow: 0 0 14px -7px #6a5454;
}
//ovrvw
.rmdostrovrvwcntngmanorgnldvbx {
  background: linear-gradient(4deg, #78ff78, #7ac079);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @media (min-width: 500px) {
    margin-top: 114px;
  }
}
.rmdostrmidbdystrpfadtmdtlscntngdvbx {
  padding: 10px;
  .strpfldtlscntngdvbx {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 0 6px;
  }
  .strpflimgcntngdvbx {
    overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    box-shadow: 0 0 5px -2px #484242;
    background: azure;
    .strpfigpc {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .strpflnmusnmcntngdvbx {
    padding: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    .strpfnmcntngdvbx {
      padding: 5px;
      color: #fbdca2;
      text-shadow: 0 0 1px #4e4242;
    }
    .strpfusnmcntngdvbx {
      padding: 2px;
      font-size: 16px;
    }
  }
}
.ovrvwpullbarcntnr {
  background: gray;
  height: 4px;
  border-radius: 100px;
  width: 50%;
  margin: auto;
  cursor: pointer;
}
.rmdostrovrvwpgshdrcntngdvbx {
  padding: 8px;
  .rmdostrgthfcntngdvbx {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    i.fas.fa-arrow-left {
      color: white;
    }
  }
  .ovrinsgtspgttle {
    font-weight: 600;
    color: white;
    font-size: 18px;
  }
}
.rmoothcntrsovrldvcntnrdvbx {
  overflow-y: auto;
  height: 100%;
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-button {
    background: none;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #000;
  }
}
.rmdostrovrvwpgsbdycntngdvbx {
  width: 100%;
  height: 100%;
  .rmdoovrpgdvbxcmrspdtscntngdvbx {
    margin-top: 60px;
    background: white;
    height: 100%;
    padding: 10px 8px;
    border-radius: 22px 22px 0 0;
    box-shadow: 0 -7px 27px -24px black;
  }
  .rmoalcmrsovrvwcntngdvbx {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    .rmotlovrigtsnmrdvbx {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }
    .rmoovervwtph3 {
      margin-top: 0;
    }
  }
  .rmotovrognldvbx {
    border: 1px solid #e9e9e9e8;
    border-radius: 8px;
    padding: 15px;
    background: white;
    box-shadow: 0 0 27px -19px black;
    margin: 10px 0;
  }
}
//-------------str-----------hlgtsppup

/*# sourceMappingURL=strspgsesse.css.map */
